[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
"yolk3k" = "*"
urllib3 = "==1.24.2"
rope = "==0.14.0"

[dev-packages]
rope = "*"

[requires]
python_version = "3.7"
